<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <title>ChatClinic</title>
     <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
     <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
     <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/chatbotpage.css')}}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
     <!--DONT DELETE: THIS AREA IS WHERE THE SIDE BAR WILL BE INSERTED-->
    <div id="home-sidebar-insert-area"></div>
   


     <div id="main-body">
          <div id="header">
               <ul class="nav nav-pills">
                    <li class="nav-item mx-2">
                         <a class="nav-link tab" aria-current="page" href="/home"><</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link active tab" style="background-color: blue; border-radius: 0px;" href="#">Symptoms</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link disabled tab" href="#">Response</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link disabled tab" href="#">Appointment</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link disabled tab" href="#">Summary</a>
                    </li>
               </ul>
          </div>
          
          <div class="cbp-dialog-container">
               <div class="cbp-dialog"><img class="cbp-dialog-img" src="/static/assets/nurse.png"/><p>How are you feeling?<br>Please identify your symptoms.</p></div>
               <div style="margin-top: -60px; display: flex; width: 100%;"><div id="home-symptoms-insert-area"></div></div>
          </div>
     </div>
     <div id="text-area">
          <div style="width:100%; height: 40px; background-color: white; border-radius: 10px;"></div>
          <button class="white" onclick="toResponse()">Next</button>
     </div>
    
     <!--DONT DELETE-->
     <script>
        
     </script>
     <script type="module">
          // taken from components folder, formatted to be reusable
          import "/static/components/sidebar/script.js";
          Sidebar(document.getElementById('home-sidebar-insert-area'))
          
     </script>

     <script type="module">
          import {storeSymptomsSession, symptomsSelection} from "/static/components/symptomsSelection/script.js"
          import {createRecommendationSent} from "/static/pageScripts/utils.js"
          import {storeResponseSession} from "/static/components/symptomsSelection/script.js";

          const symptomsSelectionStart = async () => {
               const ss = await SymptomsSelection(document.getElementById('home-symptoms-insert-area'))
               window.toResponse = async () =>{
               if (ss.symptoms.length < 1){
                    
                    alert("Tip: You need to select at least 1 symptom.")
                    
                    return
               }

               await storeSymptomsSession()
               storeResponseSession((createRecommendationSent(ss.symptoms)))
               
               
               
               window.location.href = '/chatbotpage/response'
          }

          }

          symptomsSelectionStart()
     </script>
</body>

</html>