<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <title>ChatClinic</title>
     <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
     <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
     <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/chatbotpage.css')}}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
     <!--DONT DELETE: THIS AREA IS WHERE THE SIDE BAR WILL BE INSERTED-->
    <div id="home-sidebar-insert-area"></div>

    <div id="home-calendar-insert-area"></div>

     <div id="main-body">
          <div id="header">
               <ul class="nav nav-pills">
                    <li class="nav-item mx-2">
                         <a class="nav-link" aria-current="page" href="/home"><</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link" href="/chatbotpage">Symptoms</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link white" href="/chatbotpage/response">Response</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link disabled active bg-dark" href="/chatbotpage/response/appointment">Appointment</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link disabled" href="#">Summary</a>
                    </li>
               </ul>
          </div>
          
          <div class="cbp-dialog-container" style="width: 50%; height: 400px; padding: 10px; padding-right: 20px;background-color: white; display: flex; align-items: center;  flex-direction: column">
               <img class="cbp-dialog-img" src="/static/assets/nurse.png" style="margin: 20px;"/>
               <div class="cbp-dialog" style="flex-direction: column">
                    <p id="cbp-dialog-chat"> Please choose a date and time for your appointment.
                    </p>
                    <button id="cbp-set-date-btn"onclick="onClickShowCal()">Set Appointment</button>
                    
               </div>
               
          </div>
     </div>
     <div id="text-area" style="width: 50%; margin-left: 25%; margin-bottom: 20px;">
          <div style="width:100%; height: 40px; background-color: white;"></div>
          <button onclick="toSummary()">Next</button>
     </div>

     <script type="module">
          import {CalendarSelection, selected} from "/static/components/calendarSelection/script.js";
          
          CalendarSelection(
               document.getElementById('home-calendar-insert-area'), // element where to insert calendar
               [document.getElementById('cbp-set-date-btn')], // buttons used for opening calendar 
               '', // warning footer
               'Set Appointment', // button label
               'cbp-appointment', //purpose
               document.getElementById('cbp-dialog-chat') // element where to put dialog
               )

          window.toSummary = () => {
               // An appointment data should be picked before pressing next.
               if (!(selected.month||selected.day||selected.year||selected.time)){
                    alert("You first need to set an appointment to proceed.")
               }
               else{
                    window.location.href = '/chatbotpage/response/appointment/summary'
               }
          }
     </script>

     <!--DONT DELETE-->
     <script type="module">
          import "/static/components/sidebar/script.js";
          Sidebar(document.getElementById('home-sidebar-insert-area'))
     </script>

</body>

</html>