<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
     <title>ChatClinic</title>
     <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
     <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
     <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/chatbotpage.css')}}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
     <!--DONT DELETE: THIS AREA IS WHERE THE SIDE BAR WILL BE INSERTED-->
    <div id="home-sidebar-insert-area"></div>
   


     <div id="main-body">
          <div id="header">
               <ul class="nav nav-pills">
                    <li class="nav-item mx-2">
                         <a class="nav-link tab" aria-current="page" href="/home"><</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link tab" href="/chatbotpage">Symptoms</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link active tab" style="background-color: blue; border-radius: 0px;" href="/chatbotpage/response">Response</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link disabled tab" href="#">Appointment</a>
                    </li>
                    <li class="nav-item mx-2">
                         <a class="nav-link disabled tab" href="#">Summary</a>
                    </li>
               </ul>
          </div>
          
          <div class="cbp-dialog-container" >
               <img class="cbp-dialog-img" src="/static/assets/nurse.png" style="margin: 20px;"/>
               <div class="cbp-dialog" style="flex-direction: column">
                    <p id="cbp-recommendation">Evaluating..
                    </p>
                    <p id="cbp-bottom-line">
                    </p>
               </div>
               
          </div>
     </div>
     <div id="text-area" >
          <div style="width:100%; height: 40px; background-color: white;  border-radius: 10px"></div>
          <button id='next-button' onclick="toAppointment()" disabled>Next</button>
     </div>
    
     <!--DONT DELETE-->
     <script type="module">
          /**
          * Import necessary scripts and components.
          * 
          * - Sidebar: Loads and renders the sidebar in the HTML element.
          * - createRecommendationSent: Generates a recommendation sentence based on selected symptoms.
          * - getSeriousSymptoms: Retrieves serious symptoms from a list of selected symptoms.
          * - getSymptomsSession: Fetches the session data for selected symptoms.
          */
          import "/static/components/sidebar/script.js";
          import {createRecommendationSent, getSeriousSymptoms } from '/static/pageScripts/utils.js'
          import {getSymptomsSession} from "/static/components/symptomsSelection/script.js"

          /**
          * Loads the sidebar component into the specified HTML element.
          * 
          * @function Sidebar
          * @param {HTMLElement} document.getElementById('home-sidebar-insert-area') - The HTML element where the sidebar is inserted.
          */
          Sidebar(document.getElementById('home-sidebar-insert-area'))

          /**
          * Fetches selected symptoms from the session, creates recommendations, and determines if serious symptoms are present.
          * 
          * - Updates the HTML content of the page based on the symptoms and their severity.
          * 
          * @async
          * @function createResponse
          * @returns {Promise<void>} - This function does not return any value. It performs DOM manipulations.
          */
          const createResponse = async () => {
          // Fetch selected symptoms from the session.
          const symptoms = await getSymptomsSession(false)
          console.log(symptoms)
          
          // Display the recommendation based on the selected symptoms.
          document.getElementById('cbp-recommendation').innerHTML = createRecommendationSent(symptoms['symptoms_selected'])
          
          // Get serious symptoms from the selected symptoms.
          const seriousSymptoms = getSeriousSymptoms(symptoms['symptoms_selected'])
          
          // Get the "Next" button and the bottom-line text element.
          const nextBtn = document.getElementById('next-button')
          const bottomLine = document.getElementById('cbp-bottom-line')
          
          // If there are serious symptoms, enable the "Next" button and show a message about setting an appointment.
          if (seriousSymptoms.length > 0) {
               nextBtn.disabled = false
               bottomLine.innerHTML = `The symptoms (${seriousSymptoms.join(',')}) make you in need of professional help. Click <b>Next</b> to set an appointment date.`
          } else {
               // If no serious symptoms are found, disable the "Next" button and display a mild symptoms message.
               nextBtn.disabled = true
               bottomLine.innerHTML = `The symptoms above are considered mild and treatable with home remedies or over-the-counter medicines through your local pharmacies. For these symptoms, you will not need to make an appointment.`
          }
          }

          // Call createResponse to initialize the symptom evaluation and response generation.
          createResponse()

     </script>

     <script>
          function toAppointment(){
               window.location.href = '/chatbotpage/response/appointment'
          }
         
     </script>
</body>

</html>