
<div class="container symptoms-selector-container">
    <div id="symptom-tags-container">
        <i class="symptom-tags-tip">Select up to 3 symptoms; click on tag to remove</i>
        <div id="symptom-tags-list"></div>
    </div>
    <div class="dropdown ">
        <div style="display: flex; flex-direction: row">
            <input type="text" id="textbox" class="form-control" placeholder="Find and select symptoms..." oninput="suggestSymptoms()" onfocus="suggestSymptoms()" autocomplete="off" aria-haspopup="true" aria-expanded="false" 
        style="width: 75%;"/>
            <button id='show-btn' onclick="showHideList()" style="width: 25%; background-color: #257ECC; border-color: #257ECC;" class="btn btn-success" >ok</button>
         </div>
        <ul id="symptoms-suggestion-list" class="dropdown-menu w-100 show">
        </ul>
    </div>
    <div id="selection-0">
    </div>
    <div id="selection-1">
    </div>
    <div id="selection-2">
    </div>
</div>