
<div class="container symptoms-selector-container">
    <div id="symptom-tags-container">
        <i class="symptom-tags-tip">(you can select up to 5; click on tag to remove)</i>
        <div id="symptom-tags-list"></div>
    </div>
    <div class="dropdown">
        <input type="text" id="textbox" class="form-control" placeholder="Find and select symptoms..." oninput="suggestSymptoms()" onfocus="suggestSymptoms()" autocomplete="off" aria-haspopup="true" aria-expanded="false" 
        style="width: 100%;"/>
        <ul id="symptoms-suggestion-list" class="dropdown-menu w-50 show">
        </ul>
    </div>
</div>