
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sandbox</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/sidebar.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/chatbotpage.css">
</head>

<body>
    <!--Start-->
      <!--DONT DELETE: THIS AREA IS WHERE THE SIDE BAR WILL BE INSERTED-->
    <div id="home-sidebar-insert-area"></div>

    <div id="sched-calendar-insert-area"></div>

    <div id="info-modal-insert-area"></div>
      
    <div id="home-container" style="margin-top: 50px;">
        <div id="home" class="container-fluid" >
            <h1 class="title-opening" style="font-size: 30px;">Patients</h1>
        </div>
         
    </div>
      
    <div id="table-staff" class="container-fluid">
        <br>
        
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Schedule Info</p>
            </div>
            <div class="card-body">
                
                <div class="row">
                    <div class="col-md-12 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><!--<label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>&nbsp;</label></div>
                    </div>-->
                    <div class="col-md-6">
                        <!---<div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>-->
                    </div>
                </div>

                <div class="table-responsive table mt-2"   id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable" >
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Datetime</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="sched-table-body">
                            
                        </tbody>
                        
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite"></p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination" id="pagination">
                               
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--DONT DELETE-->
<script type="module">
    import {SidebarStaff} from "/static/components/sidebarStaff/script.js";
    SidebarStaff(document.getElementById('home-sidebar-insert-area'))
</script>


<script type="module">
    import {CalendarSelection, onClickShowCal, selected, getAppointmentsFilter, getSession, getTimeName, deleteAppointment, setCalendarButtonOpeners, btn} from "/static/components/calendarSelection/script.js";
    import {deleteSymptomsFromDb} from "/static/components/symptomsSelection/script.js"
    import {InfoModal, showModal} from "/static/components/infoModal/script.js";
    const monthNamesAll = ['Jan', 'Feb', 'Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
    const tableBody = document.getElementById('sched-table-body') // get element for table body
    const itemsPerPage = 5
    let currentPage = 1
    let sessionData = null // global var initialization only, later to be filled
    let appointments = null


    window.onClickShowCalendar = (event) => {
        console.log(event.srcElement)
        const month = event.srcElement.getAttribute('data-month') 
        const year = event.srcElement.getAttribute('data-year')
        selected.appointmentId = event.srcElement.getAttribute('data-appointmentId')
        onClickShowCal(month-1 , year) // shows calendar starting on date and year // subtract month num starts in 0
        
    }


    const getPatientInfo = async (userId) => {
     
        const res = await fetch(`/api/patient?Patient_ID=${userId}`)
        const returnVal = await res.json()
        console.log("result",returnVal)
        return returnVal
    }

    window.setToPage = async (num) => {
        currentPage = num
        setPaginationNumber()
        renderPage()
    }
    
    window.deleteAppointment = async (event) =>{
        const id = event.srcElement.getAttribute('data-appointmentId')
        await deleteAppointment(id)
        await deleteSymptomsFromDb(id)
        const tr = event.srcElement.closest('tr'); // Find the closest <tr> (the entire row)
        tr.parentElement.removeChild(tr); // Remove the entire row
        
        setPaginationNumber()
        
    }

    
    window.setAppointmentStatus = async (event, statusCode) => {
        const getStatusDisplay = (statusCode) =>{ 
        
            const color = ['black','green','red']
            const name = ['Pending','Confirmed','Rejected']
            return `<p style="color: ${color[statusCode]}">${name[statusCode]}</p>`
        }
    
        const url = '/api/appointments'; // Replace with your API endpoint
        const data = {
            Appointment_ID: event.srcElement.getAttribute('data-appointmentId'),
            Appointment_Confirmed: statusCode
        }
    
        try {
            const response = await fetch(url, {
                method: 'PUT', // Specify the PUT method
                headers: {
                    'Content-Type': 'application/json' // Specify content type for JSON data
                },
                body: JSON.stringify(data) // Convert data object to a JSON string
            });
    
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
    
            const result = await response.json(); // Parse the JSON response
            console.log('Success:', result);
            const td = event.srcElement.closest('td')
            console.log("Nearest Td:",td)
            td.innerHTML = getStatusDisplay(statusCode)
        } catch (error) {
            console.error('Error:', error);
        }
    

    }


    const setPaginationNumber = async () => {
        // statement info
        const statement = document.getElementById('dataTable_info')
        statement.innerHTML = ""
        let finalLength = itemsPerPage * currentPage
        finalLength = finalLength >= appointments.length ? appointments.length : finalLength
        statement.innerHTML = `Showing ${currentPage} to ${finalLength} of ${appointments.length}`

        // pagination buttons
        const paginationContainer = document.getElementById('pagination')
        console.log(paginationContainer)
        paginationContainer.innerHTML = ""
        const pageCountDisplayedMax = 3
        const leftCountAllowance = 3
        const leftAllowance = (() => {
            let tempRes = leftCountAllowance
            if (currentPage - tempRes <= 0){
                tempRes = Math.abs(1 - currentPage)
            }
            return tempRes
        
        })()

        const rightAllowance = Math.floor((pageCountDisplayedMax/2))
        let codeTop = ''
        let codeBottom = ''
        if (currentPage == 1){
            codeTop = `<li class="page-item disabled"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>`
        }else{
            codeTop = `<li class="page-item" onclick="setToPage(${currentPage-1})"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">«</span></a></li>`
        }

        if (currentPage >= (appointments.length/itemsPerPage)){
            codeBottom = `<li class="page-item disabled"><a class="page-link" aria-label="Previous"><span aria-hidden="true">»</span></a></li>`
        }else{
            codeBottom = `<li class="page-item" onclick="setToPage(${currentPage+1})"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>`
        }

        
       
        let codeAll = ''
        
        console.log(currentPage, currentPage+pageCountDisplayedMax)
        console.log(appointments)
        
        for (let i=currentPage - leftAllowance; i < currentPage+pageCountDisplayedMax; i++){
            if (i >=(appointments.length/itemsPerPage) + 1){
                console.log("pagination display end",i)
                continue
            }
            if (i == currentPage){
                codeAll = codeAll + `<li class="page-item active" onclick="setToPage(${i})"><a class="page-link" href="#">${i}</a></li>`
            }else{
                codeAll = codeAll + ` <li class="page-item" onclick="setToPage(${i})"><a class="page-link" href="#">${i}</a></li>`
            }
            
        }
        console.log("COADELAL", codeAll)
        codeAll = codeTop + codeAll + codeBottom
        paginationContainer.innerHTML = codeAll


    }



    const renderPage = async () => {
        tableBody.innerHTML = ""
        const startNum = itemsPerPage * (currentPage - 1)
        let finalNum = itemsPerPage * currentPage
            
        let codeAll = ''
        console.log('StartNum:', startNum, 'FInalNum:',finalNum)
        for (let i=startNum; i<finalNum; i++){
            if (appointments.length <= i){
                break
            }
            const appointmentSpec = appointments[i]
            const month = appointmentSpec.Appointment_Month
            const year = appointmentSpec.Appointment_Year
            const day = appointmentSpec.Appointment_Day
            const status = appointmentSpec.Appointment_Confirmed
            const time = appointmentSpec.Appointment_Time
            const appId = appointmentSpec.Appointment_ID
            const patientId = appointmentSpec.Patient_ID
            const monthName = monthNamesAll[appointmentSpec.Appointment_Month - 1]
            const combinedDate = `${monthName} ${day},${year}`
            const timeName = getTimeName(time)
            let patientInfo = await getPatientInfo(patientId)
            patientInfo = patientInfo[0] // looking only for single result
            const firstName = patientInfo? patientInfo.PatientName  : undefined
            const lastName = patientInfo ? patientInfo.PatientLastName : undefined 
            console.log("PatientInfo", patientInfo)
            
            const getStatusDisplay = (statusCode) =>{ 
                if (statusCode==0){   
                    return `<button class="btn btn-primary viewer" data-appointmentId="${appId}" data-userId="${patientId}" data-month="${month}" data-day="${day}" data-year="${year}" data-time="${time}" data-status="${status}" style="background-color: green" onclick="setAppointmentStatus(event, 1)">Confirm</button>
                    <button class="btn btn-danger" data-appId="${appId}" data-appointmentId="${appId}" onclick="setAppointmentStatus(event, 2)" >Reject</button>`
                }
                const color = ['black','green','red']
                const name = ['Pending','Confirmed','Rejected']
                return `<p style="color: ${color[statusCode]}">${name[statusCode]}</p>`
            }

            const code = `<tr>
                <td>${getStatusDisplay(status)}</td>
                <td>${combinedDate} ${timeName}</td>
                <td>${firstName}</td>
                <td>${lastName}</td>
                <td><button data-month="${month}" data-year="${year}" data-appointmentId="${appId}" onclick="onClickShowCalendar(event)" class="btn btn-primary resched" style="background-color: blue">Reschedule</button></td>
                <td><button class="btn btn-primary viewer" data-userId="${patientId}" data-month="${month}" data-day="${day}" data-year="${year}" data-time="${time}" data-status="${status}" style="background-color: blue" onclick="showModal(event)">Info</button></td>
                <td><button class="btn btn-danger" data-appointmentId="${appId}" onclick="deleteAppointment(event)" >Delete</button></td>
            </tr>`
            codeAll = codeAll + code

        tableBody.innerHTML = codeAll // sets codeAll string as table body's inner html
        //console.log(document.getElementsByClassName('resched'))

       
        }
        console.log(btn)
        const btnUpdated = document.getElementsByClassName('resched') // reupdate button elements for calendar selection
        setCalendarButtonOpeners(btnUpdated)
        console.log(btn)
    }

    const setAppointmentsData = async () => {
        sessionData = await getSession() // get session data
        appointments = await getAppointmentsFilter({}) // no filter, get ALL appointments
         
        appointments.sort((a, b) => {
            // Create date objects for comparison, using only the hour
            const dateA = new Date(a.Appointment_Year, a.Appointment_Month - 1, a.Appointment_Day, a.Appointment_Time);
            const dateB = new Date(b.Appointment_Year, b.Appointment_Month - 1, b.Appointment_Day, b.Appointment_Time);
            let diff =  dateB - dateA; // Sort by date and hour
            return diff
        });
    }

    const renderAppointmentsInitial = async () => {
        await setAppointmentsData()

        await renderPage()
         // Initiate Component Only After table generation is done, to get all elements having resched class
        CalendarSelection(
            document.getElementById('sched-calendar-insert-area'), //element where calendar is inserted
            document.getElementsByClassName('resched'), // elements that can show the calendar
            '* This will reset the appointment status to <b>pending</b> and remove the previous appointment date.', // warning msg at bottom
            'Reschedule', // Button Label
            'sched-patient', // purpose
         )
        setPaginationNumber()

    }


    renderAppointmentsInitial() 
    InfoModal(
        document.getElementById('info-modal-insert-area'),
        document.getElementsByClassName('viewer')
        ) 
    window.showModal = showModal // make showModal function accessable/runnable from html
    
</script>


</html>
