<div id="im-dimmer"></div>
    
    <div id="im-modal" class="im-modal" style="display: none">
        <div class="dr-body" id="im-body">
                <div class="im-close-btn" id="im-close-btn" onclick="onClickCloseCal()">x</div>
                <p class="im-info-title">User Information</p>
                <p><b>First Name: </b><span id="im-first-name"></span></p>
                <p><b>Last Name: </b><span id="im-last-name"></span></p>
                <p><b>Email: </b><span id="im-email"></span></p>
                <p><b>Contact No: </b><span id="im-contact-no"></span></p>
           
                <p class="im-info-title">Requested Appointment</p>
           
                <p><b>Schedule Date: </b><span id="im-sched-date"></span></p>
                <p><b>Schedule Time: </b><span id="im-time"></span></p>
                <p><b>Status: </b><span id="im-status"></span></p>
                
        </div>
            <!-- Include the JavaScript file for the calendar functionality -->
    </div>